<div class="container-fluid important-dates">
  <div class="container inner-content-width">
    <div class="row justify-content-evenly">
      <div class="col-12 col-lg-8 dates">
        <h1 class="d-block text-center home-title title">{{ content.meta.title.0 }}</h1>
        <div class="w-100 calendar">
          {{ content.html | safe }}
        </div>
      </div>
      <div class="d-none d-lg-block col-1"></div>
    </div>
  </div>
  <div class="bg-dates">
    <div class="row bg-row-top">
      <div class="col-5 bg-block bg-green"></div>
      <div class="col-7 bg-block bg-dark-blue"></div>
    </div>
    <div class="row bg-row-bottom">
      <div class="col-4 bg-block bg-light-green"></div>
      <div class="col-8 bg-block bg-light-purple"></div>
    </div>
  </div>
</div>
