{% load static %}

<div class="container-fluid footer custom-footer">
  <div class="container inner-content-width footer-container">
    <div class="row justify-content-around">
      <div class="d-none d-lg-block col-12 col-lg-4 footer-links align-self-center">
        <a class="nav-link" href="{{ home }}"><img src="{% static 'images/logo/logo.svg' %}" alt="Logo" height="80rem;"></a>
      </div>
      <div class="d-block d-lg-none col-12 col-lg-4 footer-links align-self-center">
        <a class="nav-link" href="{{ home }}"><img src="{% static 'images/logo/logo_mobile.svg' %}" alt="Logo" height="80rem;"></a>
      </div>
      <div class="col row row-cols-6 align-self-center justify-content-end footer-links">
        <div class="col-12 footer-title social-media-title"><strong>FOLLOW US</strong></div>
        {% for smedia, smedia_href in social_media.items %}
          {% with smedia_logo='images/external_logo/logo_'|add:smedia|add:'.svg' %}
            <div class="col-2 text-center footer-social-media-link">
              <a class="nav-link" href="{{ smedia_href }}" target="_blank"><img src="{% static smedia_logo %}" alt="{{ smedia }}" height="33rem;"></a>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>

    <hr class="w-100 mt-4" style="margin: 0px; padding: 0px; border-top: 1px solid rgba(255, 255, 255, .5);"/>

    <div class="row footer-site-map">
      {% for menu, menu_dict in site_menu.items %}
        <div class="col-lg-2 col-sm-4 col-12">
          {% if menu_dict.dropdown == 'false' %}
            <div class="footer-title"><a class="" href="{{ menu_dict.href }}"><strong> {{ menu }} </strong></a><br/></div>
          {% endif %}
          {% if menu_dict.dropdown == 'true' %}
            <div class="footer-title"><strong> {{ menu }} </strong><br/>
            </div>
            {% for submenu, submenu_href in menu_dict.submenu.items %}
              <a class="" href="{{ submenu_href }}">{{ submenu }}</a><br/>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-center footer-end">
    <div class="col row text-center align-self-center justify-content-center inner-content-width">
      <p class="col-12">© 2022 PyCon Portugal </p>
      <p class="col-12"><span class="d-none d-md-inline">·</span> developed in <a href="https://www.python.org/psf/" target="_blank">Python</a> with ♥ by <a href="https://evolutio.pt/" target="_blank">evolutio</a> <span class="d-none d-md-inline">·</span></p>
      <p class="col-12"> help us improve on <a href="https://github.com/pyconpt/2022" target="_blank">GitHub</a></p>
    </div>
  </div>
</div>

