{% extends "base.html" %}
{% load static %}
{% block content %}

  {# BANNER #}
  <div class="container-fluid home-header">
    <div class="container inner-content-width">
      <div class="row justify-content-center align-content-center home-banner">

        {# HOME-HEADER #}
        <div class="col-12 col-lg-5 order-lg-last container home-title">
          <div class="home-title-block text-center">
            <div class="row justify-content-center align-self-start title pt-4">
                <p class="fw-bold py-0 my-0" style="font-size: 4rem;">24<sup>th</sup></p>
                <p class="fs-3 fw-bold py-0 my-0">SEPTEMBER</p>
                <p class="fw-bold py-0 my-0" style="font-size: 4rem;">2022</p>
            </div>
            <hr/>
            <div class="row justify-content-center align-self-end pb-2">
                <p class="fs-7 py-0 my-0">DEPT. OF COMPUTER SCIENCE</p>
                <p class="fs-6 py-0 my-0">UNIVERSITY OF PORTO</p>
                <p class="fs-1 fw-bold py-0 my-0">PORTO</p>
            </div>
          </div>
          <div class="row justify-content-center align-self-center text-center">
            <a class="col btn-tickets" href="https://m.youtube.com/user/DisjoinedTech94"><button href="/home/"> WATCH THE LIVESTREAM HERE
            </button></a>
          </div>
        </div>

        {# HOME-ABOUT #}
        {% include 'modules/default.html' with content=files.0 %}
      </div>
    </div>
  </div>

  {# IMPORTANT DATES #}
  {% include 'modules/default.html' with content=files.1 %}

  {# HOME-SPONSORS #}
  {% include 'modules/home_sponsors.html' with content=files.2 %}


  {#  ABOUT#}
{#  {% include 'templates/default.html' with content=files.0 %}#}
{#  <hr/>#}

  {#  LATEST-NEWS#}
  {#  {% include 'modules/home/news.html' %}#}

  {#  PORTO-INFO#}
  {% comment %} {% include 'modules/default.html' with content=files.1 %} {% endcomment %}

  {#  SPONSORS#}
{#  {% include 'modules/default.html' with content=files.2 %}#}

  {#  MAILING-LIST#}
{#  {% include 'modules/home/mailing.html' %}#}

{% endblock content %}
