{% extends "base.html" %}
{% load static %}
{% block content %}

  {# BANNER #}
  <div class="container-fluid home-header">
    <div class="container inner-content-width">
      <div class="row lign-self-center justify-content-center align-content-center home-banner">

        {# HOME-HEADER #}
        <div class="col-12 col-lg-5 order-lg-last container home-title">
          <div class="home-title-block">
            <div class="row justify-content-center align-self-start">
                <h1 class="title title-lg date-title">2022</h1>
                <p class="title date-detail">SEPTEMBER 24th & 25th</p>
            </div>
            <div class="row justify-content-center align-self-end">
                <h2 class="col-12 title date-title">PORTO</h2>
                <p class="col-12 title date-detail">SUPERBOCK ARENA<br> PAVILHÃO ROSA<br> MOTA</p>
            </div>
          </div>
          <div class="row justify-content-center align-self-center text-center">
            <a class="col btn-tickets" href="{{ site_menu.ABOUT.submenu.TICKETS }}"><button href="/home/"> GRAB YOUR TICKET NOW
            </button></a>
          </div>
        </div>

        {# HOME-ABOUT #}
        {% include 'modules/default.html' with content=files.0 %}
      </div>
    </div>
  </div>

  {# IMPORTANT DATES #}
  {% include 'modules/default.html' with content=files.1 %}

  {# HOME-SPONSORS #}
  <div class="container-fluid home-sponsors">
    <h1 class="d-block text-center title title-lg">our <strong>sponsors</strong></h1>
    {% include 'modules/default.html' with content=files.2 %}
  </div>


  {#  ABOUT#}
{#  {% include 'templates/default.html' with content=files.0 %}#}
{#  <hr/>#}

  {#  LATEST-NEWS#}
  {#  {% include 'modules/home/news.html' %}#}

  {#  PORTO-INFO#}
  {% comment %} {% include 'modules/default.html' with content=files.1 %} {% endcomment %}

  {#  SPONSORS#}
{#  {% include 'modules/default.html' with content=files.2 %}#}

  {#  MAILING-LIST#}
{#  {% include 'modules/home/mailing.html' %}#}

{% endblock content %}
