// content page

@use "base";

.content-default {
  padding: 2rem;

  &.home-header {
    .home-banner {
      .content-container {
        &.home-title {
          max-width: 100%;
          margin-top: 1rem;

          .simple-content {
            &.home-title-block {
              position: static;
              top: auto;
              margin-top: 1rem;
              padding-left: 5%;
              padding-right: 5%;

              h1 {
                padding: 1.5rem 0rem;
              }
              p {
                padding: .5rem 0rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .content-default {
    &.home-header {
      padding: 0rem;

      .home-banner {

        .content-container {
          &.home-title {

            .simple-content {
              &.home-title-block {
                margin-left: 3vw;
                margin-right: 3vw;
                padding-left: 3vw;
                padding-right: 3vw;

                h1 {
                }
                p {
                }
              }
            }
          }
        }
      }
    }
  }
}
