//footer

@use "base";

.custom-footer{
  background-color: base.$BgBlue;
  color: base.$BgLightGreen !important;

  .footer-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .footer-title{
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    color: base.$BgLightGreen !important;
  }
  a {
    color: base.$BgLightGreen !important;
  }
  .social-media-title {
    text-align: end;
  }
  .footer-social-media-link{
    padding: .25rem;
  }
  .footer-end {
    padding-top: 1rem;
    padding-bottom: 1rem;

    p {
      @media (min-width: 768px) {
        width: auto;
      }
      margin: .125rem;
      padding: 0rem;
    }
    a {
      color: base.$BgLightGreen;
      font-weight: bold;
    }
  }
  .footer-links {
    padding-top: 2rem;
    padding-bottom: 2rem;

    li .nav-link {
      padding-top: .0652rem;
      padding-bottom: .0652rem;
    }
  }
  .footer-social-media-link {
    display: contents;
    width: auto;
  }
  .footer-site-map {
    padding-top: 3.1875rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 575.98px) {
  .custom-footer {

    .footer-social-media-link {
      .nav-link {
        width: available;
        padding: .5rem 2.5%;
      }
    }
    .footer-site-map {
      margin-left:  1rem;
      margin-right: 1rem;

      .footer-title {
        padding-top: 2rem;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .custom-footer {
    text-align: center !important;

    .footer-container {
      padding-left: .75rem;
      padding-right: .75rem;
    }
    .social-media-title {
      text-align: center;
    }
    .footer-links {
      text-align: center;
      align-self: center;
      align-content: center;
      justify-content: center !important;
    }
  }
}

