// header

@use "base";

.header {
  position: sticky;
  padding: 1rem;
  background: base.$BgBlue;
  border-bottom: .5rem black solid;

  .header-margin {
    max-width: 160px;
  }

  .nav {
    max-width: 67.5rem;

    a, a:hover {
      text-decoration: none;

      &.dropdown-item:hover {
        background-color: base.$BgBlue;
      }
    }
    .nav-link {
      font-size: 1.125rem/2rem;
      font-weight: bold;
    }
    .nav-sm {
      padding-right: 0rem;
      padding-left: 0rem;
      display: block;
      width: 100%;
    }
  }
  .header-logo {
    padding:0rem 1rem;
    align-self: center;
    height: 3rem;
  }
  .button-primary {
    padding: 0rem;
  }
  .navbar-toggler-noborder {
    padding:0rem 1rem;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28144, 206, 202, 1%29' stroke-linecap='round' stroke-miterlimit='15' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    height: 100%;
    width: 2rem;
  }
  .dropdown-menu {
    background: base.$BgDarkBlue; //#0078FF;
  }
}

@media (max-width: 991.98px) {
  .header {
    padding-right: 0rem;
    padding-left: 0rem;

    .container-fluid, .container {
      padding-right: 0rem;
      padding-left: 0rem;
    }
    .nav {
      display: block;
      width: 100%;
      padding-right: 0rem;
      padding-left: 0rem;

      .btn:focus {
        box-shadow: none;
      }
      .btn-primary {
        background-color: base.$BgDarkBlue;
        border: base.$BgDarkBlue;

        :focus {
          box-shadow: none;
        }
      }
      .nav-link {
        border-radius: 0px;
      }
    }
  }
}
