// header

@use "base";

.header {
  padding: 1rem;
  background: base.$BgBlue; //#003C80;
  border-bottom: .5rem black solid;

  .header-margin {
    max-width: 160px;
  }

  .nav {
    max-width: 67.5rem;

    a, a:hover {
      text-decoration: none;
    }
    .nav-link {
      font-size: 1.125rem/2rem;
      font-weight: bold;
    }
  }
  .header-logo {
    padding:0rem 1rem;
    align-self: center;
    height: 3rem;
  }
  .button-primary {
    padding: 0rem;
  }
  .navbar-toggler-noborder {
    padding:0rem 1rem;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28144, 206, 202, 1%29' stroke-linecap='round' stroke-miterlimit='15' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    height: 100%;
    width: 2rem;
  }

}

//@media (min-width: 425px) and (max-width: 992.125px) {
//  .header-margin {
//    width: 0px;
//    padding-left: 10%;
//  }
//}
//@media (min-width: 1200px) and (max-width: 1655.98px) {
//  .header-margin {
//    width: 0px;
//    padding-left: 2.5%;
//  }
//}
//
//.header-logo-container {
//  width: auto;
//  padding-left: 0rem;
//  padding-right: 0rem;
//}
//.header-logo {
//  padding-left: 0rem;
//  padding-right: 0rem;
//}
//
//.header {
//  background: base.$BgBlue; //#003C80;
//  padding-top: 3.125rem;
//  padding-bottom: 2rem;
//
//  .nav-sm {
//    padding-right: 0rem;
//    padding-left: 0rem;
//    display: block;
//  }
//  .nav-item-lg {
//    display: contents;
//    padding-left: 2.5rem;
//  }
//  .nav-link-lg {
//    display: inline-block;
//    padding-left: 2rem;
//  }
//  .btn-primary {
//    background: transparent;
//    border: none;
//  }
//  .subnav {
//    background: base.$BgLightBlue; //#0078FF;
//  }
//  .container-fluid {
//    padding: 0rem;
//  }
//  .dropdown-menu {
//    background: base.$BgLightBlue; //#0078FF;
//  }
//  .dropdown-item {
//    color: white;
//  }
//}
