// homepage

@use "base";

.home-header {
  background-image: url("/static/images/background/bg-pycon.svg");
  background-repeat: repeat;
  background-size: 282px;
  padding-bottom: 2rem;
  border-bottom: .5rem black solid;

  .home-banner {
    // TODO : fix float home-title on lg

    .home-title {
      display: block;
      align-content: center;
      max-width: 24rem;
      margin-right: 2%;

      .home-title-block {
        position: relative;
        top: -1.5rem;
        background: white;
        border: .5rem black solid;
        padding: 2rem 2rem 1.5rem;
        margin: 0rem 2rem 2rem;
      }

      .btn-tickets {
        padding: 0rem 1rem;
        margin: 2rem 0rem;
      }
      button {
        background: white;
        border: .5rem black solid;
        padding: 1rem .75rem;
        font-weight: bold;
        width: 100%;

      }
    }

    .home_about-content {
      flex: 0 0 auto;
      width: 58.33333333%;
      max-width: 45rem;
      align-self: center;
      padding: 2rem;

      h2 {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .home-header {
    background-size: 141px;

    .home-banner {

      .home-title {
        margin-right: auto;

        .home-title-block {
          top: 0rem;
          margin-top: 1rem;
        }
      }

      .home_about-content {
        width: 100%;
        padding: 2rem 5vw;
      }
    }
  }
  .important-dates {

    .dates {

      .title {
        text-align: start;
      }
    }
  }
}

.important-dates {
  position: relative;

  .inner-content-width {
    justify-content: start;
  }
  .dates {
    max-width: 50rem;
    margin: 5rem 2rem;
    border: .5rem black solid;
    background-color: white;
    padding: .75rem;

    h1 {
      padding: 2rem;
    }
    .calendar {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 2rem;

      blockquote {
        display: flex;
        justify-self: center;
        width: 100%;
        margin: 0rem;

        h4 {
          border-right: 0.25rem solid black;
          text-align: end;
          font-weight: bold;
          padding: .875rem;
          min-width: 12rem;
          margin: 0rem;
        }

        blockquote {
          display: flex;
          flex-wrap: wrap;
          flex: 1 0 0%;
          padding: .875rem;

          p {
            margin-bottom: .875rem;
            text-align: start;
            display: block;
            width: 100%;
          }
        }
      }
    }
    .title {
      text-align: center;
    }
  }
  .bg-dates {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom: .5rem black solid;

    .bg-row-top {
      border-bottom: .5rem black solid;
      height: 70%;
    }
    .bg-block {
      border-right: .5rem black solid;
    }
    .bg-green {
      background-color: base.$BgGreen;
    }
    .bg-dark-blue {
      background-color: base.$BgBlue;
    }
    .bg-row-bottom {
      top: 70%;
      height: 30%;
    }
    .bg-light-green {
      background-color: base.$BgLightGreen;
    }
    .bg-light-purple {
      background-color: base.$BgLightPurple;
    }
  }
}

@media (max-width: 991.98px) {
  .important-dates {
    .dates {

      h1 {
        text-align: start !important;
        padding: .875rem;
      }
      .calendar {
        display: block;

        blockquote {
          display: block !important;
          width: 100%;
          padding-right: 1.5rem;

          h4 {
            display: block;
            width: auto;
            min-width: 5rem;
            padding-bottom: 0rem;
            text-align: start;
            border-right: none;
          }

          blockquote {
            display: block !important;
            width: auto;
            padding-top: .875rem;

            p {
              //padding-left: 1rem;
            }
          }
        }
      }
    }
  }
}

.home-sponsors {
  &.important-dates {
    .dates {

      .sponsors-content {

        blockquote {
          p {
            display: block;
          }
        }
        p {
          display: none;
        }
      }
    }
    .bg-dates {
    }
  }
}
