@use "base";

h1, h2, h3, h4, h5, h6 {
  &.title {
    font-weight: bold;
  }
}

.inner-content-width {
  max-width: 90rem;
}

.inner-text-width {
  max-width: 65rem;
  margin-right: auto;
  margin-left: auto;
}

// force footer to the bottom
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.innerBody {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
// #

//
.text-green {
  color: base.$BgLightGreen !important;
}

.text-hidden {
  color: transparent;
}

.title-lg {
  font: normal normal bold 2.875rem/3.25rem Poppins;
}

//
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.d-contents {
  display: contents !important;
}

// includes

@import "header";

@import "home";

@import "content";

@import "footer";

// sponsors imgs
img.sponsor {
  width: unset;
  height: 50px;
  margin: 15px 30px 15px 0;
}
img.sponsor.huge {
  height: 70px;
}
img.sponsor.large {
  height: 60px;
}
img.sponsor.small {
  height: 40px;
}
img.sponsor.tiny {
  height: 25px;
}

img.hotel {
  max-width: 200px;
  max-height: 100px;
  width: auto;
  height: auto;
}

//

button:hover {
  color: white !important;
  background-color: base.$BgBlue !important;
}
