@use "base";

h1, h2, h3, h4, h5, h6 {
  &.title {
    font-weight: bold;
  }
}

.inner-content-width-lg {
  max-width: 105rem;
}

.inner-content-width {
  max-width: 90rem;
}

// force footer to the bottom
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.innerBody {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
// #

//
.text-blue {
  color: base.$TxtBlue;
}

.text-hidden {
  color: transparent;
}

.title-lg {
  font: normal normal bold 2.875rem/3.25rem Poppins;
}

.bg-grey {
  background: base.$BgGrey;
}

.bg-light-grey {
  background: base.$BgLightGrey;
}

//
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.d-contents {
  display: contents !important;
}

// includes

@import "header";

@import "home";
